<div id="day" data-url="<%= day_path @day %>">
  <h1><%= @day.created_at.strftime("%A, %b %d, %Y") %></h1>
  <% @times.each_slice(2) do |hour| %>
      <div class="time">
        <%= display_time(hour.first) %>
        <div>
          <% hour.each do |time| %>
            <a href="" data-time="<%= time %>" class="time-set <%= @day[time] %>"></a>
          <% end %>
        </div>
      </div>
  <% end %>
  <%= render 'legend' %>
</div>


